.container{
    width: 100%;
    height: 100vh;
    display: grid;
    place-items: center;
    background: url('../fgfgfg-min.jpg') no-repeat;
}
form{
    max-width: 330px;
    height: 75%;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: space-around;
    background:  #b8b8b86a;
    border-radius: 5%;
    backdrop-filter: blur(10px);
    padding: 10px 20px;
}
input,textarea{
    width: 90%;
    height: 40px;
    outline: none;
    border: 4px outset #ffcd5a;
    background: #ffffffb7;
    border-radius: 12px;
    padding-left: 20px;
    font-size: 20px;
}
input:focus, textarea:focus{
    box-shadow: inset 5px 5px 5px #BABECC,
    inset -5px -5px 10px #ffffff73;
}
textarea{
    resize: none;
    height: 120px;
}
button{
  width: 98%;
  height: 53px;
  font-size: 20px;
  border: 4px solid rgba(250, 250, 250, 0.5);
  border-radius: 20px;
  background: #ffcd5a;
  cursor: pointer;
  color: white;
  margin-top: 10px;
}
button:focus{
    transform: scale(0.9); 
}
.error{
    color: red;
}
.btn{
    background: transparent;
    border: none;
    outline: none;
    cursor: pointer;
}